@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .markdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    max-width: 42rem;
    margin-top: 0.5rem;
  }
  .markdown a {
    color: #ffffff;
  }
  .markdown a:hover {
    color: #61dafb;
  }
  .markdown p {
    margin-bottom: 1.5em;
  }
  .markdown ul {
    list-style: disc;
    margin-left: 1em;
    margin-bottom: 1.5em;
  }

  .markdown ol {
    margin-left: 1em;
    list-style: decimal;
    margin-bottom: 1.5em;
  }
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #131312;
  font-family: "Inter", sans-serif;
  color: #c9d1d9;
}

p {
  line-height: 1.6em;
}

* {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0d1117;
}

*::-webkit-scrollbar {
  display: none;
}

a:hover {
  color: #fff;
}

pre {
  border-radius: 4px;
  padding: 1em;
  overflow-x: auto;
  margin-bottom: 1.5em;
  background-color: #161b22;
}
